.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button {
  background-color: #ffffff;
  border: 1px solid #3c4043;
  border-radius: 2px;
  color: #3c4043;
  font-family: Roboto, arial, sans-serif;
  font-size: 17px;
  margin: 1px 30px;
  padding: 10px 16px;
  /* line-height: 27px; */
  height: 52px;
  width: 160px;
  min-width: px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  
  ;
  
}

.select {
  background-color: #6fa5e2;
  border: 1px solid #f8f9fa;
  border-radius: 20px;
  color: #3c4043;
  font-family: Roboto, arial, sans-serif;
  font-size: 1px;
  margin: 2px 4px;
  padding: 1265px 720px;
  line-height: 27px;
  height: 36px;
  width: 150px;
  min-width: 10px;
  text-align-last: center;
  cursor: pointer;
  user-select: none;
  position: flex;
  line-height: 0px;
  text-indent: 100px;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
